@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Applications</h1>
    <p class="lead">Please rewrite the rating part of this applications.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rate Shop ICS</h2>
        <p>
            Use this option to Rate Shop a Test Shipment
        </p>
        <p>@Html.ActionLink("Rate Shop", "Index", "Rate")</p>
    </div>
</div>